.parentCard{
    display: flex;
    margin-top: 50px !important;
    padding: 1rem;
    color: #000 !important;
    flex-direction: column;
    background-color: chartreuse !important;
    border: blue solid 2px;
}

.header{
    text-align: center;
    text-decoration: underline blue;
}

.cardContent{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    background-color: rgb(108, 108, 186) !important;
    border: black solid 2px;
}
